.postsListBox {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.postImg {
  width: 99%;
  height: 99%;
  padding: 5px;
}
